<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zb.mapper.TFriendCircleMessageMapper">

    <select id="getTFriendCircleMessageById" resultType="com.zb.pojo.TFriendCircleMessage">
        select
                id as id,
                uid as uid,
                content as content,
                picture as picture,
                location as location,
                create_time as createTime
        from t_friend_circle_message
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <select id="getTFriendCircleMessageListByMap" resultType="com.zb.pojo.TFriendCircleMessage" parameterType="java.util.Map">
        select
                id as id,
                uid as uid,
                content as content,
                picture as picture,
                location as location,
                create_time as createTime
        from t_friend_circle_message
        <trim prefix="where" prefixOverrides="and | or">
                <if test="id != null and id!=''">
                    and id=#{id}
                </if>
                <if test="uid != null and uid!=''">
                    and uid=#{uid}
                </if>
                <if test="content != null and content!=''">
                    and content=#{content}
                </if>
                <if test="picture != null and picture!=''">
                    and picture=#{picture}
                </if>
                <if test="location != null and location!=''">
                    and location=#{location}
                </if>
                <if test="createTime != null and createTime!=''">
                    and create_time=#{createTime}
                </if>
        </trim>
        <if test="beginPos != null and pageSize != null ">
            limit #{beginPos},#{pageSize}
        </if>
    </select>

    <select id="getTFriendCircleMessageCountByMap" resultType="Integer"  parameterType="java.util.Map">
        select count(*) from t_friend_circle_message
        <trim prefix="where" prefixOverrides="and | or">
                <if test="id != null and id!=''">
                    and id=#{id}
                </if>
                <if test="uid != null and uid!=''">
                    and uid=#{uid}
                </if>
                <if test="content != null and content!=''">
                    and content=#{content}
                </if>
                <if test="picture != null and picture!=''">
                    and picture=#{picture}
                </if>
                <if test="location != null and location!=''">
                    and location=#{location}
                </if>
                <if test="createTime != null and createTime!=''">
                    and create_time=#{createTime}
                </if>
        </trim>
    </select>

    <insert id="insertTFriendCircleMessage" parameterType="com.zb.pojo.TFriendCircleMessage">
        insert into t_friend_circle_message(
                        uid,
                        content,
                        picture,
                        location,
                        create_time)
        values(
                     #{uid},
                     #{content},
                     #{picture},
                     #{location},
                    #{createTime})
    </insert>

    <update id="updateTFriendCircleMessage" parameterType="com.zb.pojo.TFriendCircleMessage">
        update t_friend_circle_message
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
                        <if test="uid != null and uid!=''">
                            uid=#{uid},
                        </if>
                        <if test="content != null and content!=''">
                            content=#{content},
                        </if>
                        <if test="picture != null and picture!=''">
                            picture=#{picture},
                        </if>
                        <if test="location != null and location!=''">
                            location=#{location},
                        </if>
                        <if test="createTime != null and createTime!=''">
                            create_time=#{createTime}
                        </if>
        </trim>
    </update>
</mapper>